<strong>Olá, {{ user }}</strong>

<p>Houve uma nova inscrição no meetapp {{meetapp}}, segue os dados do inscrito</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
